.shopping__list {
	width: 100%;
}

.plant__list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.addToCart__btn {
	margin-right: 20px;
	height: 20px;
	position: absolute;
	bottom: 25px;
	right: 0;
	width: 100px;
	background: none;
	background-color: #31b572;
	color: white;
	border: 2px solid #31b572;
	border-radius: 25px;
	padding-bottom: 25px;
	padding-top: 10px;
}

.addToCart__btn:hover {
	background-color: #4ccc8c;
	cursor: pointer;
}

.div__flex {
	display: flex;
	position: relative;
}

@media screen and (max-width: 640px) {
	.addToCart__btn {
		width: 70px;
		bottom: 20px;
	}

	.plant__list {
		padding: 10px;
		justify-content: space-around;
	}
}